<section class="create-location-page">
  <div class="create-location-page__form-container">
    <app-create-location-form
      (created)="onLocationCreated()"
    ></app-create-location-form>
  </div>

  <!-- <button (click)="toggleOrderAsc()" class="create-location-page__order-button">
    <span *ngIf="orderAsc">⬆️</span>
    <span *ngIf="!orderAsc">⬇️</span>
    Ordenar por nombre: {{ orderAsc ? "Ascendente" : "Descendente" }}
  </button> -->

  <!-- <div class="create-location-page__table-container">
    <app-locations-table
      [locations]="(locations$ | async)?.content || []"
    ></app-locations-table>
  </div> -->

  <app-pagination
    [currentPage]="(locations$ | async)?.page || 0"
    [totalPages]="(locations$ | async)?.totalPages || 0"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</section>
