<h1 class="form-title">Crear Usuario</h1>
<form class="create-user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <app-input-text
    [label]="'Nombre del Usuario'"
    [placeholder]="'Escribe el nombre del usuario'"
    [control]="userForm.controls.name"
    [showCounter]="false"
    [maxlength]="60"
  >
  </app-input-text>

  <app-input-text
    [label]="'Apellidos del Usuario'"
    [placeholder]="'Escribe los apellidos del usuario'"
    [control]="userForm.controls.lastName"
    [showCounter]="false"
    [maxlength]="60"
  >
  </app-input-text>

  <app-input-text
    [label]="'Número de Documento del Usuario'"
    [placeholder]="'Escribe el número de documento del usuario'"
    [control]="userForm.controls.documentNumber"
    [showCounter]="false"
    [maxlength]="60"
  >
  </app-input-text>

  <app-input-text
    [label]="'Número de Telefono del Usuario'"
    [placeholder]="'Escribe el número de telefono del usuario'"
    [control]="userForm.controls.phone"
    [showCounter]="false"
    [maxlength]="13"
  >
  </app-input-text>

  <app-input-text
    [label]="'Correo Electrónico del Usuario'"
    [placeholder]="'Escribe el correo electrónico del usuario'"
    [control]="userForm.controls.email"
    [showCounter]="false"
    [maxlength]="60"
  >
  </app-input-text>

  <app-input-text
    [label]="'Contraseña del Usuario'"
    [placeholder]="'Escribe la contraseña del usuario'"
    [control]="userForm.controls.password"
    [showCounter]="false"
    [maxlength]="30"
  >
  </app-input-text>

  <!-- fecha de nacimineto  -->
  <app-input-date
    [label]="'Fecha de nacimiento'"
    [control]="userForm.controls.birthDate"
    [max]="today"
  ></app-input-date>

  <app-select
    [label]="'Rol'"
    [control]="userForm.controls.role"
    [options]="roles"
    optionLabel="name"
    placeholder="Selecciona un Rol"
  ></app-select>

  <div class="form-actions">
    <app-button label="Crear Usuario" type="submit"></app-button>
  </div>
</form>
