.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f9fafb;
}

.content-layout {
  display: flex;
  flex: 1;
  background-color: #f9fafb;
}

.content-main {
  flex: 1;
  box-sizing: border-box;
}
