.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group__label {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #374151;
}

.form-group__required {
  color: #ef4444;
  margin-left: 4px;
}

.form-control {
  width: 100%;
  height: 43px;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #374151;
  appearance: none;

  transition: border-color 0.2s;
}

.form-control:focus {
  border-color: #2563eb;
  border-width: 2px; // Asegura el mismo grosor en foco
}

.form-control.invalid-select {
  border-color: #ef4444 !important;
  border-width: 1px;
}

.form-control option {
  color: #374151;
  font-family: "Manrope", sans-serif;
}

.error-message {
  color: #ef4444;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  min-height: 18px;
  margin-top: -4px;
}
