.button {
  min-width: 142px;
  padding: 10px 16px;
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s, box-shadow 0.1s;
  box-shadow: 0 2px 8px #0002;

  &:hover {
    background-color: #1d4ed8;
  }

  &:active {
    background-color: #2563eb;
    transform: scale(0.96);
    box-shadow: 0 1px 2px #0001;
  }
}
