<section class="create-category-page">
  <div class="create-category-page__form-container">
    <app-create-category-form
      (created)="onCategoryCreated()"
    ></app-create-category-form>
  </div>

  <button (click)="toggleOrderAsc()" class="create-category-page__order-button">
    <span *ngIf="orderAsc">⬆️</span>
    <span *ngIf="!orderAsc">⬇️</span>
    Ordenar por sector: {{ orderAsc ? "Ascendente" : "Descendente" }}
  </button>

  <div class="create-category-page__table-container">
    <app-categories-table [categories]="(categories$ | async)?.content || []">
    </app-categories-table>
  </div>

  <app-pagination
    [currentPage]="(categories$ | async)?.page || 0"
    [totalPages]="(categories$ | async)?.totalPages || 0"
    (pageChange)="onPageChange($event)"
  >
  </app-pagination>
</section>
