.create-category-page {
  padding: 0 2rem;
  padding-bottom: 3rem;
  box-sizing: border-box;

  &__title {
    font-size: 24px;
    margin-bottom: 1rem;
    font-family: "Manrope", sans-serif;
    color: #111827;
    font-weight: 400;
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 1rem;
    font-family: "Manrope", sans-serif;
    color: #1f2937;
    font-weight: 500;
  }

  &__table-container {
    margin-bottom: 3rem;
  }

  &__order-button {
    float: right;
    box-shadow: none !important;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
  }

  &__order-button:hover {
    background: #1565c0;
    color: #fff;
  }
}
