.container-empty-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  background-color: #ebe9e9;
  color: #2563eb;
  font-family: poppins, sans-serif;
  margin: 20px;
}
